.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    background-color: #000000;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 600;
  }
  
  .left-section h1 {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 550%;
  }
  
  .right-section {
    margin-top: -2%;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .right-section img {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .divider {
    height: 30px;
    width: 1px;
    background-color: white;
    margin: 0 10px;
  }
  
  @media (max-width: 1000px) {
    .header {
      width: 100%;
    }
  
    .left-section {
      font-size: 50%;
      width: 100%; /* Prendre toute la largeur */
      display: flex; /* Utilisation de flexbox pour centrer le texte */
      align-items: center; /* Centrer verticalement */
      justify-content: center; /* Centrer horizontalement */
      /* background-color: red; Si vous souhaitez un fond rouge pour la section entière */
      padding: 0; /* Supprimer le padding par défaut si nécessaire */
    }
    

    .right-section {
      display: none;
    }
    
  }