body{
  background-color: black;
  overflow: hidden;
}

.App {
  position: relative;
  overflow: hidden; 
}

.overlay-container {
  position: relative;
}


.content-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: none; /* Initialement, toutes les sections sont cachées */
}

.content-wrapper.show {
  display: block; /* Lorsque la section doit apparaître, on l'affiche */
  opacity: 1;
  transform: translateY(0);
}

.content-wrapper.transitioning-hide {
  opacity: 0;
  transform: translateY(20px);
}

.content-wrapper.initial-load {
  transition: none;
}



@media (max-width: 1000px) {

  body{
    overflow:scroll;
  }
  .content-wrapper {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }

  /* Styles pour une mise en page verticale */
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}